
/* placement */
body {
    display: table;
    width: 100%;
}
body > * {
    display: table-cell;
}

#device {
    width: 800px;
    padding: 1em;
}
#nav {
    float: left;
    margin-right: 0.5em;
}
#screen {
    margin-top: 1em;
    margin-bottom: 45pt;
}
#content, #device-2 {
    padding: 0.5em;
}
/**/

/* borders */
#device {
    border: 9pt solid black;
    border-radius: 45pt;
}
#device-2 {
    border: 3pt solid black;
    border-radius: 27pt;
}
#screen {
    border: 2pt solid black;
}
#nav {
    margin: 0.5em;
    padding: 0em 0.5em 0em 0em;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
}
/**/

/* font */
* {
    font-family: sans-serif;
}
#head > * {
    text-align: center;
}
#head h1, #head h2 {
    margin: 0px;
}
/**/

/* menu */
#menu {
    display: table;
    width: 100%;
}
#menu > * {
    display: table-cell;
    padding: 5pt;
    vertical-align: top;
}
#battery, #c3d2 { width: 25%; }
#c3d2 { text-align: right; }
#buttons { text-align: center; }
#buttons > * { display: inline; }
/**/

/* polish */
#device { background: #bbb; }
#device-2 { background: #eee; }
#screen { background: white; }
#nav * {
    font-family: monospace;
    text-align: right;
    list-style: none;
    padding-left: 0px;
}
.date { float: right; }
#content p { text-align: justify; }
a { text-decoration: none; }
/**/

/* footer */
#footer { text-align: center; }
#oldds { padding-left: 0px; }
#oldds li {
    list-style: none;
    display: inline;
}

/* debug */
nothing { display: none; }
nothing { border: 1px solid red; }