
/* placement */
body {
    display: table;
    width: 100%;
}
body > * {
    display: table-cell;
}

#device {
    width: 800px;
    padding: 5pt;
}
#nav {
    float: left;
    margin-right: 0.5em;
}
#screen {
    margin-top: 1em;
    margin-bottom: 45pt;
}
#content, #device-2 {
    padding: 0.5em;
}
/**/

/* borders */
#device {
    border: 0pt solid #CCC;
    border-radius: 3.5em;
}
#device-2 {
    border: 10pt solid black;
    border-radius: 3em;
}
#screen {
    border: 2pt solid black;
}
#nav {
    margin: 0.5em;
    padding: 0em 0.5em 0em 0em;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
}
/**/

/* font */
* {
    font-family: sans-serif;
}
#head > * {
    text-align: center;
}
#head h1, #head h2 {
    margin: 0px;
}
/**/

/* menu */
#menu {
    display: table;
    width: 100%;
}
#menu > * {
    display: table-cell;
    padding: 5pt;
    vertical-align: top;
}
#battery, #c3d2 { width: 25%; }
#c3d2 { text-align: right; }
#buttons { text-align: center; }
#buttons > * { display: inline; }
/**/

/* polish */
#device {
    background: #bbb;
    box-shadow: 0em -0.1em 0.4em #CCC;
}
#device-2 {
    background: #222;
    background: -moz-linear-gradient(
        20deg,
        rgb(10, 8, 9) 0%,
        rgb(26, 30, 26) 79.9%,
        rgb(110, 119, 116) 80%,
        rgb(174, 188, 191) 100%)
    repeat scroll 0% 0% transparent;
}
#screen { background: white; }
#nav * {
    font-family: monospace;
    text-align: right;
    list-style: none;
    padding-left: 0px;
}
.date { float: right; }
#content p { text-align: justify; }
a {
    text-decoration: none;
    color: #335;
}
#head > * {
    color: #CCC;
    font-weight: 300;
}
/**/

/* footer */
#footer { text-align: center; }
#oldds { padding-left: 0px; }
#oldds li {
    list-style: none;
    display: inline;
}

/* debug */
nothing { display: none; }
nothing { border: 1px solid red; }